<div class="minor_object_data">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= text_field_tag "resume[data[#{category}]][][#{key}][]", value, class: "form-control" %>
    </div>
  </div>
</div>