<% if !defined?(data_to_parse)%>
  <% data_to_parse =[Resume::PROFILES_TEMPLATE] %>
<% end %>

<% data_to_parse.each do |object|%>
  <div class="object_data">
    <%- object.each do |key, value| %>
      <% if value.class == String %>
        <%= label_tag "resume[data[profiles]][#{key}]", key %>
        <%= text_field_tag "resume[data[profiles]][#{key}]", check_value(@resume.try(:data) || {}, ["profiles", key.to_s]), class: "form-control" %>
      <% end %>
    <% end %>
  </div>
<% end %>