// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#auth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-default {
  background-color: #83ff00 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #ff008e !important;
  font-weight: bold;
}

.navbar-default .navbar-toggle {
  border-color: #ff008e !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ff008e !important;
}

a:not(.btn) {
  color: #d60cb1 !important;
}

.btn-primary {
  background-color: #00d9ff !important;
  border-color: #ababab !important;
}

div.card-img-top {
  height: 3em;
}

.card-img-top {
  overflow: hidden;
  border-radius: 0.2em;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 3em;
  margin: 0;
  margin-right: 0.2em;
  display: inline-block;
  vertical-align: middle;
}

.color-box {
  color: #fff;
  text-align: center;
  float: left;
  padding-top: 10px;
}

li.history-item {
  padding: 8px 0;
}

.flash-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash {
  width: 50%;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash.notice {
  background-color: #83ff00;
  color: red;
}

.flash.alert {
  background-color: red;
  color: white;
}

.save-job-action {
  margin-top: 10px;
}

.post-card {
  flex: 1 1 50%;
  position: relative;
  border: 1px solid #efefef;
}
.post-card-content {
  padding: 30px 30px 50px;
  line-height: 1.6;
  color: #666666;
}

.post-card-details {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 0 30px;
  margin-left: 40%;
}

.fas::before {
  font-family: Fontawesome
}

.save-img {
  width: 100px;
  height: 45px;
}
