<div class="container">
  <div class="page-header">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">
            <div class="py-5">
              <h1 class="text-center my-4">Search for remote programming jobs across multiple job boards!</h1>
              <%= form_with url: search_path, id:'searchForm', class:'card card-sm' do |form| %>
                  <div class="card-body row no-gutters align-items-center">
                      <div class="col-auto">
                          <i class="fas fa-search h4 text-body"></i>
                      </div>
                      <!--end of col-->
                      <div class="col">
                          <%= form.text_field :query, class:'form-control form-control-lg form-control-borderless', placeholder: 'Search for...', type: "search", placeholder: "Search topics or keywords" %>
                      </div>
                      <!--end of col-->
                      <div class="col-auto">
                          <button class="btn btn-lg btn-success" type="submit">Search</button>
                      </div>
                      <!--end of col-->
                  </div>
              <% end %>
            </div>
            
            <%= image_tag('companies.png', class:'img-fluid') %>
            <hr>
            <span><strong>Filter by tags:  </strong></span>
            <span class="badge badge-light">
            <a href="javascript:populateSearch('node')">Node</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('javascript')">JavaScript</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('react')">React</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('java')">Java</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('ruby')">Ruby</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('rails')">Rails</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('go')">Go</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('sql')">SQL</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('devops')">DevOps</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('full stack')">Full Stack</a>
          </span>
          <span class="badge badge-light">
            <a href="javascript:populateSearch('front end')">Front End</a>
          </span>
          <hr>
          <%= render partial:"root/job_postings", locals: { job_postings: @job_postings } %>
        </div>
        <!--end of col-->
        
    </div>
  </div>
</div>
