// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-heading {
  background-color:#83ff00 !important;
}

.panel-title {
  font-family: "Lazer 84", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color:#ff008e !important;
  letter-spacing: 2px;
}
